/* проба второй экран */
@media screen and (max-width: 767px) {
  .FIRST-ADAPT {
    width: 100%;
    height: 191vw;
  }
  .first-and-second,
  .diagrams,
  .columns,
  .asters {
    display: grid;
    justify-content: center;
  }
  .N-2,
  .column-1 {
    display: none;
  }
  .first-and-second {
    width: 100%;
  }
  .third-fourth {
    width: 100%;
  }
  .rock-image {
    width: 20vw;
    height: 20vw;
  }
  .N {
    width: 120vw;
    height: 142vw;
    background-repeat: no-repeat;
    background-size: 600vw;
    margin-left: -10vw;
    animation: word-adapt 2s steps(1) infinite;
  }
  .line-1 {
    top: 25.9vw;
  }
  .line-2 {
    top: 165.8vw;
  }
  .line-3 {
    top: 185.6vw;
  }
  .line-4 {
    top: 93vw;
  }
  .line-5 {
    top: 35.7vw;
    width: 100vw;
  }
  .line-6 {
    border-top: 0.2vw dashed #fff9e1;
    position: absolute;
    z-index: 1;
    top: 136vw;
    width: 100vw;
    rotate: 90deg;
  }
  .big-Ns {
    margin-top: 16.5vw;
  }
  .five,
  .six,
  .seven,
  .eight {
    font-size: 4.25vw;
  }
  .seven,
  .four {
    text-align: end;
  }
  .seven {
    margin-top: -78.6vw;
    margin-left: 55.4vw;
  }
  .text-firstscreen {
    font-size: 2vw;
  }
  .eight {
    margin-top: -138.4vw;
    margin-left: 90.4vw;
  }
  .one {
    margin-top: -56.4vw;
    margin-left: 3.8vw;
  }
  .two {
    margin-top: -47.2vw;
    margin-left: 20.1vw;
  }
  .three {
    margin-top: -47.5vw;
    margin-left: 60.8vw;
  }
  .four {
    margin-top: -56.4vw;
    margin-left: 79vw;
  }
  .six {
    margin-top: -69.3vw;
    margin-left: 30vw;
  }
  .five {
    margin-top: -73.4vw;
    margin-left: 4.6vw;
  }
  .SS {
    display: none;
  }
  /* второй экран */
  .rock {
    width: 100vw;
    height: 70.8vw;
  }
  .circle {
    height: 6.7vw;
    width: 6.7vw;
  }
  .odin {
    margin-top: -54.6vw;
    margin-left: 18vw;
  }
  .dva {
    margin-top: -6.7vw;
    margin-left: 57.5vw;
  }
  .tri {
    margin-top: 15vw;
  }
  .chet {
    margin-top: -6vw;
    margin-left: 85.5vw;
  }
  .pyat {
    margin-top: 18.1vw;
    margin-left: 12.5vw;
  }
  .shest {
    margin-top: -6.6vw;
    margin-left: 83.1vw;
  }
  .rock-image {
    width: 60vw;
    height: 50vw;
    margin-top: 15vw;
  }
  .vertical-text {
    width: 100vw;
    height: 50vw;
    overflow: hidden;
  }
  .row p {
    font-size: 2.87vw;
  }
  .row {
    padding-top: 0.5vw;
  }
  .container-row {
    height: 4.4vw;
    width: 35vw;
    margin-left: 26vw;
    margin-top: -5.5vw;
    z-index: 100;
  }
  .same-container-row,
  .three-same-container-row,
  .four-same-container-row,
  .five-same-container-row,
  .six-same-container-row {
    height: 4.4vw;
  }
  .same-container-row {
    width: 29vw;
    margin-left: 66vw;
    margin-top: -5.5vw;
  }
  .three-same-container-row {
    width: 21vw;
    margin-left: 63vw;
    margin-top: -5.5vw;
  }
  .four-same-container-row {
    width: 27vw;
    margin-left: 13vw;
    margin-top: -5.9vw;
  }
  .five-same-container-row {
    width: 24vw;
    margin-left: 21vw;
    margin-top: -5.5vw;
  }
  .six-same-container-row {
    width: 20vw;
    margin-left: 62vw;
    margin-top: -5.9vw;
  }
  .asteroid-circle {
    margin-top: 103vw;
    height: 71vw;
    width: 74vw;
    background-size: 348vw 70vw;
    margin-left: 12.5vw;
    animation: asteroid-circles-adapt 2s steps(1) infinite;
  }
  .first-vertical {
    font-size: 5vw;
    animation: cross 14s linear infinite;
    text-align: center;
  }
  .vertical-text {
    margin-top: 16vw;
  }
  /* третий экран */
  .background2-2,
  .background3-3 {
    display: flex;
    width: 100%;
    height: 56.25vw;
    animation: for-the-background 4s steps(1) infinite;
  }
  /* четвертый экран */
  .THE-kolonki {
    display: none;
  }
  .diagram-1 {
    width: 95.922vw;
    height: 83.203vw;
    margin-top: -10vw;
    background-size: 450.75vw 94vw;
    animation: diagramF-adapt 4s steps(1) infinite;
    margin-left: 0vw;
    margin-top: 1vw;
  }
  .diagram-2 {
    width: 95.156vw;
    height: 83.203vw;
    background-size: 190vw 90.4vw;
    animation: diagramF2-adapt 0.3s steps(1) infinite;
  }
  /* пятый экран */
  .column-2 {
    background-size: 302vw 350.9vw;
    animation: unite-adapt 2s steps(1) infinite;
  }
  .column-2,
  .column-3 {
    width: 102vw;
    height: 120vw;
  }
  .star-5 {
    display: none;
  }
  .column-3 {
    background-image: url(../images/stars-for-iphone-more.svg);
    background-repeat: no-repeat;
    /* background-size: 211.2vw 128vw; */
    background-size: 405.2vw 128vw;
    animation: iphone-stars 1s steps(1) infinite;
  }
  .aster-uno {
    width: 80vw;
    height: 34vw;
    background-repeat: no-repeat;
    margin-left: -2.4vw;
    background-size: 80.28vw 32vw;
    /* background-color: red; */
  }
  .aster-dos {
    width: 80.5vw;
    height: 34vw;
    background-repeat: no-repeat;
    background-size: 77.9vw 30.3vw;
    /* background-color: green; */
  }
  .aster-tres {
    width: 75vw;
    height: 43vw;
    background-repeat: no-repeat;
    /* background-color: blue; */
    background-size: 73.5vw 50.3vw;
  }
  .group {
    margin-top: 36vw;
    margin-left: 30vw;
  }
  .me {
    margin-top: 9vw;
    margin-left: 24.2vw;
  }
  .hse {
    margin-top: 38vw;
    margin-left: 22.6vw;
  }
  .text-cover {
    font-size: 4.5vw;
  }
  .space {
    height: 130vw;
  }
}
