/* проба второй экран */
@media screen and (max-width: 767px) {
  .FIRST-ADAPT {
    width: 100%;
    height: 191vw;
  }
  .first-and-second,
  .diagrams,
  .columns,
  .asters {
    display: grid;
    justify-content: center;
  }
  .N-2,
  .column-1 {
    display: none;
  }
  .first-and-second {
    width: 100%;
  }

  .third-fourth {
    width: 100%;
  }

  /* размеры */
  .rock-image {
    width: 20vw;
    height: 20vw;
  }
  .N {
    width: 120vw;
    height: 142vw;
    background-repeat: no-repeat;
    background-size: 600vw;
    margin-left: -10vw;
    animation: word-adapt 2s steps(1) infinite;
  }
  .line-1 {
    top: 25.9vw;
  }
  .line-2 {
    top: 165.8vw;
  }
  .line-3 {
    top: 185.6vw;
  }
  .line-4 {
    top: 93vw;
  }
  .line-5 {
    top: 35.7vw;
    width: 100vw;
  }
  .line-6 {
    border-top: 0.2vw dashed #fff9e1;
    position: absolute;
    z-index: 1;
    top: 136vw;
    width: 100vw;
    rotate: 90deg;
  }
  .big-Ns {
    margin-top: 16.5vw;
  }
  .five,
  .six,
  .seven,
  .eight {
    font-size: 4.25vw;
  }
  .seven {
    margin-top: -78.6vw;
    margin-left: 60.4vw;
  }
  .text-firstscreen {
    font-size: 2vw;
  }
  .eight {
    margin-top: -138.4vw;
    margin-left: 90.4vw;
  }
  .one {
    margin-top: -56.4vw;
    margin-left: 3.8vw;
  }
  .two {
    margin-top: -47.2vw;
    margin-left: 20.1vw;
  }
  .three {
    margin-top: -47.5vw;
    margin-left: 60.8vw;
  }
  .four {
    margin-top: -56.4vw;
    margin-left: 79vw;
  }
  .six {
    margin-top: -69.3vw;
    margin-left: 30vw;
  }
  .five {
    margin-top: -73.4vw;
    margin-left: 4.6vw;
  }
  .SS {
    display: none;
  }
  /* второй экран */
  .rock {
    width: 100vw;
    height: 70.8vw;
  }
  .circle {
    height: 6.7vw;
    width: 6.7vw;
  }
  .odin {
    margin-top: -52.3vw;
  }
  .dva {
    margin-top: -6.7vw;
    margin-left: 72.5vw;
  }
  .tri {
    margin-top: 20vw;
  }
  .chet {
    margin-top: 14.4vw;
    margin-left: 60vw;
  }
  .shest {
    margin-top: -2.6vw;
    margin-left: 80.1vw;
  }
  .rock-image {
    width: 60vw;
    height: 50vw;
    margin-top: 15vw;
  }
  .vertical-text {
    width: 100vw;
    height: 50vw;
    overflow: hidden;
    background-color: blue;
  }
  .asteroid-circle {
    /* background-color: green; */
    margin-top: 103vw;
    height: 71vw;
    width: 74vw;
    background-size: 348vw 70vw;
    margin-left: 12.5vw;
    animation: asteroid-circles-adapt 2s steps(1) infinite;
  }
  .first-vertical {
    font-size: 5vw;
    animation: cross 14s linear infinite;
    text-align: center;
  }
  .vertical-text {
    margin-top: 20vw;
  }
  /* четвертый экран */
  .diagram-1 {
    width: 55.922vw;
    height: 63.203vw;
    margin-top: -10vw;
    background-color: red;
    background-size: 290.75vw 70vw;
    animation: diagramF-adapt 4s steps(1) infinite;
  }
  /* пятый экран */
  .column-2 {
    background-size: 299.48vw 350.9vw;
    animation: unite-adapt 2s steps(1) infinite;
  }
  .column-2,
  .column-3 {
    width: 102vw;
    height: 120vw;
  }
  .aster-uno {
    width: 80vw;
    height: 34vw;
    background-repeat: no-repeat;
    margin-left: -2.4vw;
    background-size: 80.28vw 32vw;
    /* background-color: red; */
  }
  .aster-dos {
    width: 80.5vw;
    height: 34vw;
    background-repeat: no-repeat;
    background-size: 77.9vw 30.3vw;
    /* background-color: green; */
  }
  .aster-tres {
    width: 75vw;
    height: 43vw;
    background-repeat: no-repeat;
    /* background-color: blue; */
    background-size: 73.5vw 50.3vw;
  }
  .group {
    margin-top: 38vw;
    margin-left: 30vw;
  }
  .me {
    margin-top: 9vw;
    margin-left: 24.2vw;
  }
  .hse {
    margin-top: 39vw;
    margin-left: 22.6vw;
  }
  .text-cover {
    font-size: 4.5vw;
  }
  .for-rotation {
    rotate: 90deg;
  }
  .space {
    height: 130vw;
  }
}
