/* первый экран */
@keyframes attemp {
  0% {
    transform: translateX(-3%);
  }
  100% {
    transform: translateX(3%);
  }
}
@keyframes word {
  0% {
    background-position: 0 0;
  }
  20% {
    background-position: -40vw 0;
  }
  40% {
    background-position: -80vw 0;
  }
  60% {
    background-position: -120vw 0;
  }
  80% {
    background-position: -160vw 0;
  }
  100% {
    background-position: -200vw 0;
  }
}
@keyframes go {
  0% {
    left: 0;
    top: 0;
  }
  48% {
    left: 48%;
    top: 0;
  }
  50% {
    left: 50%;
    top: -100px;
  }
  52% {
    left: 52%;
    top: 0;
  }
  100% {
    left: 100%;
    top: 0;
  }
}
/* ВТОРОЙ ЭКРАН */
@keyframes cross {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-70%);
  }
}
@keyframes asteroid-circles {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: -47vw 0;
  }
  50% {
    background-position: -94vw 0;
  }
  75% {
    background-position: -141vw 0;
  }
  100% {
    background-position: -188vw 0;
  }
}

.odin:hover + .container-row {
  opacity: 1;
}
.dva:hover + .same-container-row {
  opacity: 1;
}
.tri:hover + .four-same-container-row {
  opacity: 1;
}
.chet:hover + .three-same-container-row {
  opacity: 1;
}
.pyat:hover + .five-same-container-row {
  opacity: 1;
}
.shest:hover + .six-same-container-row {
  opacity: 1;
}

/* третий экран */
@keyframes for-the-background {
  from {
    background-color: #fff9e1;
  }
  40% {
    background-color: #212121;
  }
  50% {
    background-color: #7d7d7d;
  }
  90% {
    background-color: #212121;
  }
  to {
    background-color: #212121;
  }
}
@keyframes animation {
  from {
    background-color: #212121;
  }
  40% {
    background-color: #7d7d7d;
  }
  50% {
    background-color: #fff9e1;
  }
  90% {
    background-color: #7d7d7d;
  }
  to {
    background-color: #fff9e1;
  }
}
@keyframes moveCircle {
  0% {
    transform: translate(32%, 20%);
  }
  20% {
    transform: translate(0%, 0%);
  }
  40% {
    transform: translate(25%, 40%);
  }
  60% {
    transform: translate(55%, 60%);
  }
  80% {
    transform: translate(85%, 0%);
  }
  100% {
    transform: translate(32%, 20%);
  }
}
/* если я ставлю эту траекторию — всё выходит из экрана */
/* @keyframes moveCircle {
  0% {
    transform: translate(202%, 170%);
  }
  20% {
    transform: translate(300%, 100%);
  }
  40% {
    transform: translate(105%, 400%);
  }
  60% {
    transform: translate(75%, 200%);
  }
  80% {
    transform: translate(405%, 400%);
  }
  100% {
    transform: translate(32%, 40%);
  } */
/* ЧЕТВЕРТЫЙ ЭКРАН */

@keyframes row {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.r-line:hover {
  animation-play-state: paused;
}
.r-line p span:hover {
  color: #fff9e1;
}

@keyframes diagramF {
  0% {
    background-position: 0 0;
  }
  20% {
    background-position: -39vw 0;
  }
  40% {
    background-position: -78vw 0;
  }
  60% {
    background-position: -117vw 0;
  }
  80% {
    background-position: -156vw 0;
  }
}
@keyframes diagramF2 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: -55vw 0;
  }
}
/* ПЯТЫЙ ЭКРАН */
@keyframes unite {
  0% {
    background-position: 0 0;
  }
  12.5% {
    background-position: -38.7vw 0;
  }
  25% {
    background-position: -77.4vw 0;
  }
  37.5% {
    background-position: 0 -45.5vw;
  }
  50% {
    background-position: -38.7vw -45.5vw;
  }
  62.5% {
    background-position: -77.4vw -45.5vw;
  }
  75% {
    background-position: 0 -91vw;
  }
  87.5% {
    background-position: -38.7vw -91vw;
  }
  100% {
    background-position: -77.4vw -91vw;
  }
}
@keyframes side-eyes {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-45%);
  }
}
@keyframes star-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.star-5:hover {
  animation-play-state: paused;
}
/* ПОДВАЛ */
.aster-uno:hover {
  background-image: url(../images/aster-uno-open.svg);
}
.aster-dos:hover {
  background-image: url(../images/aster-dos-open.svg);
}
.aster-tres:hover {
  background-image: url(../images/aster-tres-open.svg);
}
/* АДАПТИВЫ */

/* первый экран буквы */
@keyframes word-adapt {
  0% {
    background-position: 0 0;
  }
  20% {
    background-position: -120vw 0;
  }
  40% {
    background-position: -240vw 0;
  }
  60% {
    background-position: -360vw 0;
  }
  80% {
    background-position: -487vw 0;
  }
}
/* второй экран */
@keyframes asteroid-circles-adapt {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: -68.8vw 0;
  }
  50% {
    background-position: -137.6vw 0;
  }
  75% {
    background-position: -206.4vw 0;
  }
  100% {
    background-position: -344vw 0;
  }
}
/* четвертый экран */
@keyframes diagramF-adapt {
  0% {
    background-position: 0 0;
  }
  33% {
    background-position: -85vw 0;
  }
  50% {
    background-position: -265vw 0;
  }
  90% {
    background-position: -355vw 0;
  }
}
@keyframes diagramF2-adapt {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: -1805vw 0;
  }
}
/* пятый экран */
@keyframes unite-adapt {
  0% {
    background-position: 0 0;
  }
  12.5% {
    background-position: -100vw 0;
  }
  25% {
    background-position: -200vw 0;
  }
  37.5% {
    background-position: 0 -120vw;
  }
  50% {
    background-position: -100vw -120vw;
  }
  62.5% {
    background-position: -200vw -120vw;
  }
  75% {
    background-position: 0 -240vw;
  }
  87.5% {
    background-position: -100vw -240vw;
  }
  100% {
    background-position: -200vw -240vw;
  }
}
@keyframes iphone-stars {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: -100.1vw 0;
  }
}
